.box {
  display: flex;
  flex-direction: column;
  /*Custom property currently has no real value here,
  but maybe it could be useful to inherit the gap
  value down the DOM tree in the future.*/
  --gap: 4;
  composes: gap from global;
  & > * {
    max-width: 100%;
    flex: 0 0 auto;
  }
  &.h {
    flex-direction: row;
  }
}
