.box {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  --gap: 4;
  & > * {
    max-width: 100%;
    flex: 0 0 auto;
  }
  &.shrink > * {
    flex-shrink: 1;
  }
}

.h {
  flex-direction: row;
}

.box {
  composes: gap from global;
}
