.button {
  appearance: none;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
.button:hover {
  outline: 0.25rem solid var(--color-outline);
}
.button:focus,
.button:focus-visible {
  outline-width: 0.5rem;
}
