.spacedList {
  --list-spacing: 0.75em;
  display: grid;
  grid-auto-flow: row;
  gap: var(--list-spacing);
}

.horizontal {
  grid-auto-flow: column;
}

.spacedList.horizontal.flex {
  display: flex;
}

.horizontal.flex > * {
  flex-shrink: 0;
}
