.spacedList {
  --list-spacing: calc(0.5 * var(--spacing));
  display: grid;
  grid-auto-flow: row;
  gap: var(--list-spacing);
}

.horizontal {
  grid-auto-flow: column;
}

.spacedList.horizontal.flex {
  display: flex;
  width: 100%;
}

.horizontal.flex > * {
  flex-shrink: 0;
}

.tight {
  --list-spacing: calc(0.25 * var(--spacing));
}

.loose {
  --list-spacing: var(--spacing);
}
