.input {
  border-radius: 0.25rem;
  min-height: 1.25em;
  padding: 0.25rem;
  border: 1px solid var(--color-text);
  width: auto;
  min-width: min(26ch, 80vw);
}
.input:disabled,
.input:read-only {
  color: var(--color-text-muted);
  font-weight: 900;
  background-color: var(--color-bg-slate);
  user-select: none;
  cursor: default;
  pointer-events: none;
}
